# IDE
.idea

# Misc Artifacts
file.key
.DS_Store

# Development Artifacts
/test_*
/build
.artifacts
genesis.json
peer-list.json
.scripts
envs
accounts.json
artifact.json
instances.json
guardian.json
push.sh
run.sh