# IDE
.idea

# Misc Artifacts
file.key
.DS_Store

# Development Artifacts
/test_*
/build
.artifacts
.scripts
envs

# MCUtil Artifacts
accounts.json
genesis.json
peer-list.json
artifact.json
instances.json
guardian.json