{
  "genesis": "genesis.json",
  "node_type": 7,
  "id_version": 1,
  "vault": {
    "DataDir": "test_{{ item }}",
    "NodePassword": "test123",
    "SeedPhrase": "",
    "Mode": 0,
    "NodeIndex": 0,
    "InMemory": false
  },
  "network": {
    "bootnodes": [
      "/ip4/{{ boot_node_ip }}/{{ boot_node_endpoint }}"
    ],
    "trusted_peers": null,
    "static_peers": null,
    "max_peers": 0,
    "relay_node_addr": "",
    "libp2p_addr": [
      "/ip4/0.0.0.0/tcp/{{ node_port }}",
      "/ip4/0.0.0.0/udp/{{ node_port }}/quic-v1",
      "/ip6/::/tcp/{{ node_port }}",
      "/ip6/::/udp/{{ node_port }}/quic-v1"
    ],
    "jsonrpc_addr": "0.0.0.0:{{ jsonrpc_port }}",
    "mtq": 0,
    "cors_allowed_origins": ["*"],
    "network_size": 0,
    "no_discovery": false,
    "refresh_senatus": true,
    "inbound_conn_limit": 50,
    "outbound_conn_limit": 60,
    "minimum_connections": 10,
    "maximum_connections": 15,
    "disable_private_ip": true,
    "allow_ipv6_addresses": false
  },
  "syncer": {
    "ShouldExecute": true,
    "TrustedPeers": null,
    "EnableSnapSync": true,
    "SyncMode": 0
  },
  "ixpool": {
    "mode": 0,
    "price_limit": "0x1",
    "max_slots": 60000,
    "ix_incoming_filter_max_size": 1000,
    "max_ix_group_size": 100,
    "enable_ix_flooding": false,
    "view_timeout": 6
  },
  "consensus": {
    "timeout_propose": 30000,
    "timeout_propose_delta": 50000,
    "timeout_prevote": 10000,
    "timeout_prevote_delta": 50000,
    "timeout_precommit": 10000,
    "timeout_precommit_delta": 50000,
    "timeout_commit": 10000,
    "skip_timeout_commit": false,
    "wait_time": 1500,
    "message_delay": 5500,
    "precision": 300000000,
    "operator_slots": 1,
    "validator_slots": 3,
    "max_gossip_peers": 5,
    "min_gossip_peers": 3,
    "enable_sortition": false,
    "genesis_time": 1688741089
  },
  "execution": {
    "fuel_limit": "0xC350"
  },
  "database": {
    "db_folder": "",
    "clean_db": false,
    "max_snap_size": 6442450944
  },
  "telemetry": {
    "prometheus_addr": ":{{ prometheus_port }}",
    "otlp_addr": "otel-internal.moinet.io",
    "token": ""
  },
  "logfile": "test_{{ item }}/log",
  "network_id": 112,
  "state": {
    "tree_cache_size": 209715200
  },
  "genesis_seed": "30df386a7dd9eb09f2522d6d299f68e1fd657e75ba4fc3163064d9c995ab9626",
  "genesis_proof": "06eab156cf8ecf0d77fcc24c2e065e5a13180718e3022275e395b2fa22c6b4c5c83ac787f8622e6af2a1651216ff547303726987af751cff7dc38e4a4c63e26063bf12ff2e89e5930f78c246ca89f69ec6cb8303c694d02803f253b23dcd476319e1094df5a8c926ff65a52a6e47059762ebc34c0e825698bffc397b8bbf58878e0ce8e3f578ed8f85870be9a2ab97a116dce3eb2abb8320df9b09ba365d2fc66cb9df6e36f2f27284a70f87ef71d4722abd0aee46d025e726a3f1a1ade285ea"
}